@if (viewModel$ | async; as viewModel) {
    <mat-drawer-container class="main-container" autosize>
        <mat-drawer #drawer class="main-sidenav" mode="side">
          <p>Auto-resizing sidenav</p>
          @if (showFiller) {
            <p>Lorem, ipsum dolor sit amet consectetur.</p>
          }
          <button (click)="showFiller = !showFiller" mat-raised-button>
            Toggle extra text
          </button>
        </mat-drawer>
      
        <div class="main-sidenav-content">
          <div class="countries-wrapper">
            <div class="toggle-filter">
              <app-toggle-switch (filterChanged)="handleFilterChanged($event)" [selectedFilter]="viewModel.filterType"></app-toggle-switch>
            </div>
            @if (viewModel?.hierachy) {
              <pre>{{ viewModel?.hierachy | json }}</pre>
              <div class="d3-container">
                <app-d3-container-world-container [hierachy]="(viewModel?.hierachy)"></app-d3-container-world-container>
              </div>
            }
           
          </div>
          <button type="button" mat-button (click)="drawer.toggle()">
            Toggle sidenav
          </button>
        </div>
      
      </mat-drawer-container>
}


