.main {
    &-container {
        background-color: #fff;
    }
    &-sidenav {
        background-color: #3e4d64;
        color: white;
        padding: 20px;

        a {
            color: white;
        }
    }
}

.d3-container {
    text-align: center;
}

.close-button {
    position: absolute;
    top: 15px;
    right: 15px;
}